header img {
  height: 2em;
}

table img {
  height: 5em;
}
td {
  vertical-align: middle !important;
}
th:last-of-type, td:last-of-type {
  text-align: center;
}
td img {
  margin: 0.5em;
}
td:last-of-type img {
  height: 7em;
}

a:link {
  text-decoration: none;
  font-weight: bold;
}

section {
  margin: 4em 0;
}

hr {
  margin: 3em 0;
}

.alert, .well {
  margin-top: 20px;
  margin-bottom: 20px;
}
.key {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  left: 10px;
  margin-top: 10px;
}
.key .alert {
  flex-grow: 1;
  margin-right: 20px;
  flex-basis: 20%;
  min-width: 180px;
}

.grades {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 10px;
  margin-top: 20px;
}
.grades .alert, .grades .well {
  flex-grow: 1;
  min-width: 180px;
  margin: 0 20px 20px 0;
}