<% stats = data[locals[:name]] %>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <h2>Section 1: Attendance</h2>
      <p>We hold that interaction with peers and industry professionals and work time with these resources readily available, especially including pair programming, is the single most effacatious component of learning material of this kind as an adult and within the limited time frame of the program. As such, the YWeb Career Academy program consists of 400 hours* of in-classroom instruction and work time, and an attendance rate of 90% was required to graduate the program in good standing. Students unable to meet the attendance requirement were permitted to make up the time on their own through work on independent projects outside of the required material. We found a clear correlation between time spent on coursework and a student's grasp of the material, passion for building projects, confidence, and independence, whether the time was spent in the classroom or taking on extra curricular work.</p>
      <div class="alert alert-success" role="alert">
        <b>Attendance</b> &ndash; Great!
        <span class="pull-right">100% plus extra curricular hours</span>
      </div>
      <div class="alert alert-info" role="alert">
        <b>Attendance</b> &ndash; Excellent
        <span class="pull-right">over 100%, including extra curricular hours</span>
      </div>
      <div class="alert alert-warning" role="alert">
        <b>Attendance</b> &ndash; Good
        <span class="pull-right">95%, including extra curricular hours</span>
      </div>
      <div class="alert alert-danger" role="alert">
        <b>Attendance</b> &ndash; Noncompliant
        <span class="pull-right">89%, including extra curricular hours</span>
      </div>
      <div class="alert alert-info" role="alert">
        <b>Total extra curricular hours logged</b>
        <span class="pull-right">###</span>
      </div>
      <p><small>* Due to inclimate and hazardous weather conditions, we were able to log 393.5 manadory in-class hours.</small></p>
    </div>
  </div>
</section>