<% stats = data.students[locals[:name]] %>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <h2>Section 2: Code School</h2>
      <p>We utilized Code School curricula as part of our program. While some courses were required work, all other courses and screencasts were made available for students to study, as indicated by their own curiosity.</p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Required Course Name</th>
              <th>Badges Earned</th>
              <th>Completed?</th>
            </tr>
          </thead>
          <tbody>
            <% data.badges.each do |course, info| %>
            <tr>
              <td><%= info.name %></td>
              <td>
                <% if stats && stats.codeschool %>
                <% if stats.codeschool[course] && stats.codeschool[course].levels %>
                <% stats.codeschool[course].levels.each do |level| %>
                <img src="<%= data.badges[course][level] %>" />
                <% end %>
                <% else %>
                No levels completed
                <% end %>
                <% else %>
                Not yet graded.
                <% end %>
              </td>
              <td>
                <% if stats && stats.codeschool && stats.codeschool[course] %>
                <% if stats.codeschool[course].complete == true %>
                <img src="<%= data.badges[course].complete %>" />
                <% elsif stats.codeschool[course].complete == false %>
                No.
                <% else %>
                Not yet graded.
                <% end %>
                <% else %>
                Not yet graded.
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if stats && stats.csUserName %>
      <div class="alert alert-info" role="alert">All extra curricular course completion can be viewed at <a href="https://www.codeschool.com/users/<%= stats.csUserName %>">Code School</a>.</div>
      <% else %>
      <div class="well">No Code School user name given.</div>
      <% end %>
    </div>
  </div>
</section>