<% stats = data[locals[:name]] %>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <h2>Section 4: Eloquent JavaScript</h2>
      <p>Lorem ipsum.</p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chapter 1</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum.</p>
          <div class="alert alert-danger">
            <b>Workbook exercises</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Workbook exercises</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Workbook exercises</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Workbook exercises</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chapter 2</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum.</p>
          <div class="alert alert-danger">
            <b>Completed by due date</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Completed by due date</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Completed by due date</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Completed by due date</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>Workbook exercises</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Workbook exercises</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Workbook exercises</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Workbook exercises</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>End of chapter exercises</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>End of chapter exercises</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>End of chapter exercises</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>End of chapter exercises</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chapter 3</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum.</p>
          <div class="alert alert-danger">
            <b>Workbook exercises</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Workbook exercises</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Workbook exercises</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Workbook exercises</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>