<% stats = data[locals[:name]] %>

<header class="jumbotron">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
        <p>Your&emsp;<img src="img/yweblogo.png" />&emsp;Report Card for</p>
        <h1>
          <%= stats['fullName'] %> <small>Pilot Cohort Winter 2014</small>
        </h1>
      </div>
    </div>
  </div>
</header>