<% stats = data[locals[:name]] %>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <h2>Section 5: Portfolio Project</h2>
      <p>The vast majority of the required project work was the many components of building a comprehensive online portfolio for self-promotion.</p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Mood board</h3>
        </div>
        <div class="panel-body">
          <p>Students were asked to create mood boards representative of themselves and their personal style in order to direct the design of the portfolio site. Most chose to organize the work via Pinterest, while others gathered multi-media reference material in a local directory.</p>
          <div class="alert alert-warning">
            <b>Deliverables</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Deliverables</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Paper layouts and wireframes</h3>
        </div>
        <div class="panel-body">
          <p>The site content was planned and then laid out on paper. Students were encouraged to mark up these layouts with semantic elements to aid in visualizing and planning the DOM structure.</p>
          <div class="well">No grade given</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">HTML skeletons</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum</p>
          <div class="alert alert-warning">
            <b>Critique day</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Critique day</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Critique day</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Design implementation</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum</p>
          <div class="alert alert-danger">
            <b>Demo day</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-success">
            <b>Demo day</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Demo day</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>CSS complexity</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>CSS complexity</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>CSS complexity</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>CSS complexity</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>Bonus</b> &ndash; use of design prinicples
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Bonus</b> &ndash; use of design prinicples
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Bonus</b> &ndash; use of design prinicples
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Bonus</b> &ndash; use of design prinicples
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Career blog</h3>
        </div>
        <div class="panel-body">
          <p></p>
          <div class="alert alert-danger">
            <b>Effort</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Effort</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Effort</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Effort</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Deployment</h3>
        </div>
        <div class="panel-body">
          <p></p>
          <div class="alert alert-danger">
            <b>GitHub Pages Root</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>GitHub Pages Root</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>GitHub Pages Root</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>GitHub Pages Root</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>Octopress</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Octopress</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Octopress</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Octopress</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>Bonus</b> &ndash; Octopress style overrides
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Bonus</b> &ndash; Octopress style overrides
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Bonus</b> &ndash; Octopress style overrides
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Bonus</b> &ndash; Octopress style overrides
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>