<% stats = data[locals[:name]] %>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <h2>Section 3: Projects</h2>
      <p>This section includes all other work that was required during the course of the program, from drills and exercises to large, multi-week collaborative efforts. Not all work had deadlines, and most work was graded (insofar as it was graded at all) on the following scale:</p>
      <ul class="key">
        <li class="alert alert-danger">Not present, not turned in, or not conforming to the parameters of the assignment</li>
        <li class="alert alert-warning">Late or incomplete</li>
        <li class="alert alert-success">On time, present, sufficient, or good</li>
        <li class="alert alert-info">Exceeds expectations, meets stretch goals, or voted MVP by peers</li>
      </ul>
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Semantic HTML</h3>
        </div>
        <div class="panel-body">
          <p>An exercise in applying semantic HTML elements such as <code>section</code>, <code>article</code>, <code>footer</code>, etc., as well as heirarchical elements (headings, lists) to a page of content.</p>
          <div class="alert alert-success">Complete and satisfactory</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">CSS Selectors</h3>
        </div>
        <div class="panel-body">
          <p>A challenging exercise for students to practice interpreting the DOM tree and use nth-child selectors to paint a pattern on a grid. A 16x16 grid of squares was provided, each quadrant structured differently (with tables, with lists, both row-dominant and column dominant, and nested <code>div</code>s).</p>
          <div class="alert alert-warning">
            <b>Demo day</b>
            <span class="pull-right">Late, participated in make-up day</span>
          </div>
          <div class="alert alert-success">
            <b>Demo day</b>
            <span class="pull-right">Present</span>
          </div>
          <div class="alert alert-info">
            <b>Demo day</b>
            <span class="pull-right">Exceeded expectations</span>
          </div>
          <div class="alert alert-danger">
            <b>Content</b>
            <span class="pull-right">Did not meet the requirements of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Content</b>
            <span class="pull-right">Incomplete, underworked submission</span>
          </div>
          <div class="alert alert-success">
            <b>Content</b>
            <span class="pull-right">Good</span>
          </div>
          <div class="alert alert-info">
            <b>Content</b>
            <span class="pull-right">Excellent work, includes extra features</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Logic puzzles</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum</p>
          <ul>
            <li>Cut the Cake</li>
            <li>Unloop the Loop</li>
            <li>The Knight and the Knave</li>
            <li>Exclusive OR</li>
          </ul>
          <div class="alert alert-danger">
            <b>Cut the cake</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Cut the cake</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Cut the cake</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Cut the cake</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>Unloop the loop</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Unloop the loop</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Unloop the loop</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Unloop the loop</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>The knight and the knave</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>The knight and the knave</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>The knight and the knave</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>The knight and the knave</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
          <div class="alert alert-danger">
            <b>Exclusive OR</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Exclusive OR</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Exclusive OR</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Exclusive OR</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Scrum workshop</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum</p>
          <div class="alert alert-danger">
            <b>Participation</b>
            <span class="pull-right">Not present, not turned in, or not conforming to the parameters of the assignment</span>
          </div>
          <div class="alert alert-warning">
            <b>Participation</b>
            <span class="pull-right">Late or incomplete</span>
          </div>
          <div class="alert alert-success">
            <b>Participation</b>
            <span class="pull-right">On time, present, sufficient, or good</span>
          </div>
          <div class="alert alert-info">
            <b>Participation</b>
            <span class="pull-right">Exceeds expectations, meets stretch goals, or voted MVP by peers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>