<header class="jumbotron">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
        <p><img src="img/yweblogo.png" /><p>
        <h1>
          Report Cards
          <small>Pilot Cohort Winter 2014</small>
        </h1>
      </div>
    </div>
  </div>
</header>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <ul class="key">
        <li><a class="well" href="byron.html">Byron</a></li>
        <li><a class="well" href="clayton.html">Clayton</a></li>
        <li><a class="well" href="dawn.html">Dawn</a></li>
        <li><a class="well" href="elizabeth.html">Elizabeth</a></li>
        <li><a class="well" href="erica.html">Erica</a></li>
        <li><a class="well" href="francisco.html">Francisco</a></li>
        <li><a class="well" href="lashawna.html">La'Shawna</a></li>
        <li><a class="well" href="victoria.html">Victoria</a></li>
        <li><a class="well" href="yeng.html">Yeng</a></li>
      </ul>
    </div>
  </div>
</section>